paris_airbnb.csv
révision_fichier_csv.ipynb
k_le_plus_proche_voisin_(kNN).ipynb
paris_airbnb_test.csv
paris_airbnb_train.csv
validation croisée.ipynb
.DS_Store
.ipynb_checkpoints/
"r\303\251vision_fichier_csv.ipynb"
